<div id = "header">

    <div id = "title">
        <h1><span class="brand">Mega</span> Market</h1>
        <h4>All you need. Anywhere. Anytime.</h4>
    </div>
    
    <nav>
        <ul>
            <li><input type="button" class="headerButton home" role="button" (click)="home()" value="Home"></li>
            <li><input type="button" class="headerButton" role="button" (click)="shopping()" value="Shopping"></li>
            <li><input type="button" class="headerButton" role="button" (click)="order()" value="Order"></li>
        </ul>
    </nav>   

</div>
